body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/*changes*/
.header {
  display: flex;
  align-items: center;
  padding-left: 16px;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  display: flex;
}

.card-group {
  padding: 48px;
  gap: 32px;
  display: flex;
  flex: initial;
  flex-wrap: wrap;
}

.card-group .card {
  padding: 16px;
  max-width: 300px;
}

.sidebar {
  padding: 16px;
  width: 300px;
  font-size: 24px;
  display: flex;
  flex-shrink: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 16px;
}

a {
  color: white;
  text-decoration: none;
}

/*didnt do*/
body {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}